<div class="col-md-8 col-md-offset-2">
	<div class="message-show">
		<h1><%= @post.title %></h1> 
		<p class="message-posted-by">Posted by <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %> ago</p>
		<p class="message-desc"><%= auto_link(@post.body) %></p>
		<br />
		<div class="links btn-group">
				<%= link_to "Back to Posts", posts_path, class: "btn btn-default" %>
			<% if user_signed_in? %>
				<% if @post.user_id == current_user.id %>
					<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-default" %>
					<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
				<% end %>
			<% end %>
		</div>
		<h3 class="relpy-to-msg">Comments</h3>
		<%= render @post.comments %>
		<br />
		<h3>Reply to Post:</h3>
		<%= render 'comments/form' %>
		<br />

	</div>

			
